@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Nunito&display=swap');
:root {
  scroll-behavior: smooth;
  --mainWhite: #fff;
  --greyMin: #fafafa;
  --grey300: #ebebeb;
  --baseGrey: rgb(143, 141, 141);
  --greymax: #141414;
  --blueMin: #e6e6ff;
  --blue200: #9999ff;
  --blue400: #4d4dff;
  --blueBase: #0000ff;
  --blue600: #0000b3;
  --blue800: #000066;
  --blueMax: #000019;
  --redMin: #ffe6e6;
  --red200: #ff9999;
  --red400: #ff4d4d;
  --redBase: #ff0000;
  --red600: #b30000;
  --red800: #660000;
  --redMax: #190000;
  --mainTransition: all 0.5s ease-in-out;
  --boxShadow: -9px 10px 22px -1px rgba(0, 0, 0, 0.78);
  --boxShadow2: -9px 10px 22px -1px rgba(0, 0, 0, 0.3);
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  background: var(--greyMin);
  color: var(--greymax);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Balsamiq Sans', cursive;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.btn {
  transition: var(--mainTransition);
  border: none;
  background: transparent;
}
.btn:hover {
  cursor: pointer;
}
img {
  width: 100%;
  display: block;
}
/* ----nav---- */
.navbar {
  display: grid;
  grid-template-columns: auto 2fr;
  align-items: center;
  grid-column-gap: 10px;
  padding: 0px 5px;
  position: fixed;
  width: 100%;
  background: var(--mainWhite);
  z-index: 1;
}
.side-bar {
  display: none;
}

.links {
  display: flex;
  text-transform: capitalize;
  justify-content: space-around;
  max-width: 700px;
}

.bars-icon {
  display: none;
  font-size: 1.5rem;
  color: var(--pinkBase);
}

@media screen and (max-width: 700px) {
  /* ---header---- */
  .links {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .bars-icon {
    display: inline-block;
  }
  .nav-query {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .nav-query img {
    width: auto;
  }
  .side-bar {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    background: var(--grey300);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    box-shadow: var(--boxShadow);
  }
  .side-bar > .btn {
    font-size: 1.5rem;
    margin-bottom: 0;
    color: var(--red600);
  }
  .side-bar > .links {
    color: var(--mainWhite);
    flex-direction: column;
    display: inline-block;
    margin: 0;
    padding: 15px;
    width: 40vw;
    max-width: 400px;
    font-size: 1.3rem;
    letter-spacing: 3px;
    height: 70vh;
    text-transform: uppercase;
  }
  .side-bar li {
    margin: 1.5rem auto;
  }
}
/* ------end of nav------ */
/* ------banner------- */
.background {
  background: linear-gradient(
      rgba(143, 141, 141, 0.5),
      rgba(143, 141, 141, 0.5)
    ),
    url('./img/bcg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  background: var(--blue400);
  text-align: center;
  color: var(--mainWhite);
  padding: 1rem 1.5rem;
  width: 80%;
  text-transform: capitalize;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.banner .btn {
  font-size: 1.7rem;
  border: 3px solid var(--redMax);
  padding: 3px 1.3rem;
  text-transform: uppercase;
  display: inline-block;
  width: 8rem;
  margin: 0 auto;
}
.underline::after {
  content: '';
  display: block;
  width: 50%;
  background: var(--grey300);
  height: 5px;
  border-radius: 20px;
  margin: 5px auto;
}
.underline {
  margin: 2rem 0;
}
/* ------end of banner------- */
/* ------services------- */
.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  width: 90vw;
  margin: auto;
  text-align: center;
}
.services-container .icon {
  font-size: 2rem;
  color: var(--blueMax);
}
.services .underline::after {
  color: #190000;
}
/* ------ end ofservices------- */

/* ------ featured------- */
.featured-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1.5rem;
  width: 90vw;
  margin: auto;
}
.featured-item {
  background: var(--grey300);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: var(--boxShadow2);
  transition: var(--mainTransition);
}
.featured-item:hover {
  box-shadow: var(--boxShadow);
}
.featured-footer h6 {
  font-size: 15px;
}
.featured-footer p {
  text-transform: capitalize;
}

/* ------end of featured------- */
/* ------store------- */
.featured-footer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.featured-img {
  position: relative;
  overflow-x: hidden;
}
.featured-img .btn {
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--blueMax);
  color: var(--red400);
  padding: 3px 10px;
  border-top-left-radius: 15px;
  transform: translateX(110%);
}
.featured-img:hover .btn {
  transform: translateX(0);
}
.margin {
  margin-bottom: 2rem;
}
/* ------end of store------- */
/* ------checkout------- */
.featured-products.checkout {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.checkout .featured-footer {
  padding: 5px;
  text-align: left;
  display: inline-block;
}
.checkout .featured-footer > p > span {
  font-weight: bolder;
  text-transform: uppercase;
}
.checkout h6,
.checkout p {
  text-align: left;
  margin: 10px 5px;
}
/* ------end of checkout------- */
/* ------checkout form------- */
.checkout-form {
  width: 90%;
  max-width: 700px;
  padding: 10px;
  margin: 1.5rem auto;
  background: var(--blue200);
  position: relative;
  box-shadow: var(--boxShadow2);
  transition: var(--mainTransition);
  border-radius: 10px;
}
.checkout-form:hover {
  box-shadow: var(--boxShadow);
}
.checkout-form h4 {
  text-align: left;
}
.checkout-form input {
  display: block;
  width: 70%;
  min-width: 5rem;
  border: none;
  background: var(--grey300);
  height: 1.5rem;
}
.field {
  text-transform: capitalize;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.checkout-btn {
  font-size: 1rem;
  padding: 3px 10px;
  text-transform: capitalize;
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: var(--blueMax);
  color: var(--mainWhite);
  border-radius: 5px;
}
/* ------end of checkout form------- */

/* ------footer------- */
.footer {
  text-align: center;
  background: var(--red200);
  padding: 1.5rem 0.5rem;
}
.footer .icons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.copyright {
  text-transform: capitalize;
}
.icons-container .btn {
  font-size: 1.3rem;
  color: var(--red600);
}
.copyright span {
  text-transform: uppercase;
}
/* ------end of footer------- */
/* ------about------- */
.about {
  display: flex;
  width: 90%;
  margin: 2rem auto;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}
.tabs {
  background: var(--grey300);
  flex: 2 1 60%;
  min-width: 200px;
  box-shadow: var(--boxShadow2);
  flex-shrink: 1;
}
.about-img {
  flex: 1 2 40%;
  max-width: 437px;
  flex-shrink: 1;
}
.tabs h2 {
  margin: 0;
  padding: 10px 1rem;
}

.tabs-header {
  display: flex;
}
.tabs-body p {
  display: none;
  margin: 0;
  padding: 10px;
}
.tabs-body p span {
  font-size: 1.1rem;
  display: block;
  font-family: 'Balsamiq Sans', cursive;
  text-transform: capitalize;
  margin: 5px;
}
.active {
  background: var(--mainWhite);
  display: inline-block;
}
.tabs-body p.active {
  display: inline-block;
}
.tabs-body {
  margin: 0;
  padding: 0;
}
.tabs-header h2 {
  font-size: 1.3rem;
  flex-grow: 1;
}
/* ------emd of about------- */
/* ------contact us------- */
.contact-us {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
  justify-content: center;
  align-items: center;
  padding: 10px;
  grid-gap: 20px;
}
.contact-us h4,
.contact-us p {
  text-align: left;
  font-size: 1rem;
  margin: 5px;
  padding: 0;
}
.single-info {
  display: flex;
  justify-content: left;
  gap: 10px;
  align-items: center;
}
.contact-icon {
  font-size: 1.3rem;
  color: var(--red400);
}
.contact-btn {
  font-size: 1rem;
  padding: 3px 10px;
  text-transform: capitalize;
  background: var(--blueMax);
  color: var(--mainWhite);
  border-radius: 5px;
  width: 10rem;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem auto;
  box-shadow: var(--boxShadow2);
  transition: var(--mainTransition);
  padding: 10px;
  border-radius: 10px;
}
.contact-form:hover {
  box-shadow: var(--boxShadow);
}
.contact-form input {
  width: 70%;
  height: 1.5rem;
  border: none;
}
/* ------end of contact us------- */
@media screen and(max-width: 500px) {
  /* .tabs {
    font-size: 1rem;
  }
  
  .tabs h2 {
    font-size: 1rem;
    padding: 0;
  } */
}
@media screen and (max-width: 1000px) {
  .about {
    flex-direction: column;
  }
}
