@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Nunito&display=swap');
:root {
  scroll-behavior: smooth;
  --mainWhite: #fff;
  --greyMin: #fafafa;
  --grey300: #ebebeb;
  --baseGrey: rgb(143, 141, 141);
  --greymax: #141414;
  --blueMin: #e6e6ff;
  --blue200: #9999ff;
  --blue400: #4d4dff;
  --blueBase: #0000ff;
  --blue600: #0000b3;
  --blue800: #000066;
  --blueMax: #000019;
  --redMin: #ffe6e6;
  --red200: #ff9999;
  --red400: #ff4d4d;
  --redBase: #ff0000;
  --red600: #b30000;
  --red800: #660000;
  --redMax: #190000;
  --mainTransition: all 0.5s ease-in-out;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  background: var(--greyMin);
  color: var(--greymax);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Balsamiq Sans', cursive;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.btn {
  transition: var(--mainTransition);
  border: none;
  background: transparent;
}
.btn:hover {
  cursor: pointer;
}
img {
  width: 100%;
  display: block;
}
/* ----nav---- */
nav {
  display: grid;
  grid-template-columns: repeat(2, 30% 60%);
  padding: 0 10px;
  align-items: center;
  max-height: 80px;
  position: relative;
}
.logo-container {
  max-width: 10rem;
}
.links {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
nav .btn {
  visibility: hidden;
}
/* ------end of nav------ */
/* ------banner------- */
.background {
  background: linear-gradient(
      rgba(143, 141, 141, 0.5),
      rgba(143, 141, 141, 0.5)
    ),
    url('./img/bcg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  background: var(--blue400);
  text-align: center;
  color: var(--mainWhite);
  padding: 1rem 1.5rem;
  width: 80%;
  text-transform: capitalize;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.banner .btn {
  font-size: 1.7rem;
  border: 3px solid var(--redMax);
  padding: 3px 1.3rem;
  text-transform: uppercase;
  display: inline-block;
  width: 8rem;
  margin: 0 auto;
}
.underline::after {
  content: '';
  display: block;
  width: 50%;
  background: var(--grey300);
  height: 5px;
  border-radius: 20px;
  margin: 5px auto;
}
.underline {
  margin: 2rem 0;
}
/* ------end of banner------- */
/* ------services------- */
.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  width: 90vw;
  margin: auto;
  text-align: center;
}
.services-container .icon {
  font-size: 2rem;
  color: var(--blueMax);
}
.services .underline::after {
  color: #190000;
}
/* ------ end ofservices------- */

/* ------ featured------- */
.featured-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1.5rem;
  width: 90vw;
  margin: auto;
}
.featured-item {
  background: var(--grey300);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.featured-footer h6 {
  font-size: 15px;
}
.featured-footer p {
  text-transform: capitalize;
}

/* ------end of featured------- */
/* ------store------- */
.featured-footer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.featured-img {
  position: relative;
  overflow-x: hidden;
}
.featured-img .btn {
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--blueMax);
  color: var(--red400);
  padding: 3px 10px;
  border-top-left-radius: 15px;
  transform: translateX(110%);
}
.featured-img:hover .btn {
  transform: translateX(0);
}
/* ------end of store------- */
/* ------checkout------- */
.featured-products.checkout {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.checkout .featured-footer {
  padding: 5px;
  text-align: left;
  display: inline-block;
}
.checkout .featured-footer > p > span {
  font-weight: bolder;
  text-transform: uppercase;
}
.checkout h6,
.checkout p {
  text-align: left;
  margin: 10px 5px;
}
/* ------end of checkout------- */
/* ------checkout form------- */
.checkout-form {
  width: 90%;
  max-width: 700px;
  padding: 10px;
  margin: 1.5rem auto;
  background: var(--blue200);
  position: relative;
}
.checkout-form h4 {
  text-align: left;
}
.checkout-form input {
  display: block;
  width: 70%;
  min-width: 5rem;
  border: none;
  background: var(--grey300);
  height: 1.5rem;
}
.field {
  text-transform: capitalize;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.checkout-form .btn {
  font-size: 1rem;
  padding: 3px 10px;
  text-transform: capitalize;
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: var(--blueMax);
  color: var(--mainWhite);
  border-radius: 5px;
}
/* ------end of checkout form------- */

/* ------footer------- */
.footer {
  text-align: center;
  background: var(--red200);
  padding: 1.5rem 0.5rem;
}
.footer .icons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.copyright {
  text-transform: capitalize;
}
.icons-container .btn {
  font-size: 1.3rem;
  color: #000066;
}
.copyright span {
  text-transform: uppercase;
}
/* ------end of footer------- */
/* ------about------- */
.about {
  display: grid;
  grid-template-columns: repeat(2, 2fr, 1fr);
  width: 90%;
  margin: 2rem auto;
  background: var(--blue200);
}
.tabs {
  background: var(--grey300);
  padding: 0;
}
.tabs h2 {
  margin: 0;
  padding: 10px 1rem;
}

.tabs-header {
  display: flex;
}
.tabs-body p {
  display: none;
  margin: 0;
  padding: 10px;
}
.tabs-body p span {
  font-size: 1.3rem;
  display: block;
  font-family: 'Balsamiq Sans', cursive;
  text-transform: capitalize;
  margin: 5px;
}
.active {
  background: var(--mainWhite);
  display: inline-block;
}
.tabs-body p.active {
  display: inline-block;
}
.tabs-body {
  /* background: var(--mainWhite); */
  margin: 0;
  padding: 0;
}
.tabs-header h2 {
  flex-grow: 1;
}
/* ------emd of about------- */

@media screen and (max-width: 600px) {
  nav .btn {
    visibility: visible;
  }

  nav {
    align-items: flex-start;
    grid-template-columns: repeat(2, 40% 50% 1fr);
  }
  .links {
    flex-direction: column;
    padding: 2rem;
    background: red;
    gap: 1.5rem;
    margin: 0;
  }
  .links-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    transform: translateX(100%);
  }
  .show-links-container {
    transform: translateX(25%);
  }
  .links-container .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    align-self: flex-start;
    font-size: 25px;
  }
  nav > .btn {
    font-size: 25px;
    display: inline-block;
    position: absolute;
    top: 30%;
    right: 1rem;
    z-index: -1;
  }
}
